<!-- Here be dragons -->
<link href="/css/gallery.css" rel="stylesheet" />
<script src="/scripts/gallery.js"></script>

<script>
window.onload = function(){

    // Create gallery path descriptors
{% assign viewcount = 0 %}
{% assign galcount = 0 %}

{% for viewer in page.viewers %}
    var Path{{ viewcount }} = [
    {% for gallery in viewer.galleries %}
        {
            {% if viewer.buttons %}
            id: "btn{{ galcount }}", //ID of HTML object to be clicked on to change galleries
            {% endif %}
            gallery: "{{ gallery.path }}", //Location of gallery descriptor
            image: "{{ gallery.images }}" //Location of images
        } {% unless gallery == viewer.galleries.last %} , {% endunless %}
        {% capture null %}{% increment galcount %}{% endcapture %}
    {% endfor %}
    {% capture null %}{% increment viewcount %}{% endcapture %}
    ];
{% endfor %}
    
    // Create gallery objects
{% assign viewcount = 0 %}
{% for viewer in page.viewers %}
    // Using implicit global here
    Gallery{{ viewcount }} = new Gallery(
        "viewer{{ viewcount }}", //ID of HTML div to display pictures in.
        {% if viewer.thumbnails %}
        "select{{ viewcount }}", //ID of HTML div to show thumbnails in.
        {% else %} null, {% endif %}
        Path{{ viewcount }} //Variable where picture paths are stored. (Defined above.)
    );
    
    // Set the initial gallery contents to the first gallery.
    Gallery{{ viewcount }}.ChangePaths(Path{{ viewcount }}[0].gallery, Path{{ viewcount }}[0].image);
    
    // Make the gallery switch buttons defined in Paths work.
    //InitSelectButtons(Path{{ viewcount }}, Gallery{{ viewcount }});
    
    // If needed, turn on autoscroll for gallery
    {% for style in viewer.style %}
        {% if style == "autoscroll" %}
    setInterval("Gallery{{ viewcount }}.ScrollUp()", 5000);
        {% endif %}
    {% endfor %}
{% endfor %}
}
</script>

{% assign viewcount = 0 %}
{% for viewer in page.viewers %}
<div class = "
    viewer
    {% if viewer.banner%} banner {% endif %}
" id = "viewer{{ viewcount }}"> </div>

{% if viewer.thumbnails %}
<div class = "
    select
    {% for style in viewer.style %}
    {{ style }}
    {% endfor %}
" id = "select{{ viewcount }}"> </div>
    {% endif %}
{% endfor %}
